* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

::selection {
  /* color: goldenrod; */
  background-color: rgba(218, 165, 32, 0.622);
}

.header {
  position: absolute;
  display: none;
  transition: 1s ease-in-out;
}

.header-container {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  justify-items: center;
  align-items: center;
  top: 0;
  padding: 20px 4.75rem;
  position: fixed;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 2px #00000022 !important;
}

.fave-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 600;
  width: 100%;
  display: grid;
  justify-items: center;
  justify-content: left;
}

.fave-logo a {
  color: white !important;
  transition: ease-in-out 50ms;
}
.fave-logo a:hover {
  color: black !important;
}

.nav-bar {
  width: 100%;
  display: grid;
  justify-items: right;
  justify-content: right;
}
nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  justify-content: right;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.nav-bar a,
a:visited {
  display: inline-block;
  color: black;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 500;
}

nav a:hover {
  color: rgba(0, 0, 0, 0.702);
}

nav a:active {
  color: rgba(0, 0, 0, 0.702);
}
.active {
  display: block;
}

.mobile-nav-bar {
  display: none;
}

#hero {
  position: relative;
}

.hero {
  width: 100%;
  /* height: auto; */
}

.hero-container {
  width: 100%;
  /* height: 560px; */
  object-fit: contain;
}

.hero-slider1 {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  background: linear-gradient(40deg, #000000ca, #ffffff4a),
    url(/Images/Realestate/1.jpg);
  background-size: 100%;
  background-position: top center;
  background-attachment: scroll;
}

.hero-slider-text {
  padding: 20rem 4.75rem 0;
}

.hero-slider-text p {
  font-family: "Maven Pro", sans-serif;
  font-size: 150px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.hero-slider2 {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  background: linear-gradient(40deg, #0000001d, #ffffff4a),
    url(/Images/Realestate/2.jpg);
  background-size: 100%;
  background-position: top;
  background-attachment: fixed;
}

.hero-slider3 {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  background: linear-gradient(40deg, #000000ca, #ffffff4a),
    url(/Images/Realestate/3.jpg);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}

.hero-slider4 {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  background: linear-gradient(40deg, #000000ca, #ffffff4a),
    url(/Images/Realestate/6.webp);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}

#about-us {
  width: 100%;
  height: 460px;
}

.about-container {
  padding: 0 7.25rem;
}

.about-text {
  padding-top: 40px;
  display: grid;
  justify-items: center;
  align-content: center;
}

.about-text h3 {
  font-family: "Maven Pro", sans-serif;
  font-size: 50px;
  color: goldenrod;
  margin-bottom: 30px;
}

.about-text p {
  color: rgba(0, 0, 0, 0.599);
  font-family: "Maven Pro", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.about-text span {
  color: goldenrod;
  /* font-family: "Rubik Glitch Pop", system-ui; */
  font-weight: 600;
  font-size: 28px;
}

.about-page-button {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 30px;
  font-family: "Maven Pro", sans-serif;
}

.about-page-button a {
  font-size: 18px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.599);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.108);
  border-radius: 470px;
  padding: 10px 15px;
  background: goldenrod;
}

#store {
  width: 100%;
  height: auto;
}

.store-container {
  padding: 0 2.75rem 40px;
}

.store-heading {
  width: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
  font-family: "Maven Pro", sans-serif;
  font-size: 28px;
  color: goldenrod;
  margin-bottom: 40px;
}

.store-items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  justify-items: center;
  align-content: center;
}

.store-items a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.store-item {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.108);
  padding-bottom: 15px;
}

.store-item-image {
  width: 100%;
  height: auto;
}

.store-item-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 20px 20px 0 0;
}

.store-item-name {
  color: rgba(0, 0, 0, 0.599);
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 600;
  display: grid;
  justify-items: center;
  align-content: center;
}
.store-item-price {
  color: goldenrod;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  display: grid;
  justify-items: center;
  align-content: center;
}

.store-page-button {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 45px;
}

.store-page-button a {
  font-size: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.599);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.108);
  border-radius: 470px;
  padding: 10px 17px;
  background: goldenrod;
}

.store-page-button a:hover {
  color: #fff;
}

#counter-section {
  background: linear-gradient(
      40deg,
      rgba(255, 255, 255, 0.575),
      rgba(0, 0, 0, 0.816)
    ),
    url(/Images/Realestate/6.webp);
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 400px;
  display: grid;
  align-items: center;
}

.counter-section {
  padding: 40px 4.75rem;
  display: grid;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.counter {
  width: 80%;
  height: auto;
  display: grid;
  justify-items: right;
  align-content: center;
  align-items: center;
  font-family: "Maven Pro", sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: white;
}

.span1 {
  font-size: 80px;
  font-weight: 700;
  color: goldenrod;
}

footer {
  color: rgba(0, 0, 0, 0.599);
  font-family: "Maven Pro", sans-serif;
  font-size: 15px;
  font-weight: 500;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 5px 0;
}

/** TEXT GRADIENT */
/* background-image: -webkit-linear-gradient(
    45deg,
    #133b03 0%,
    #090979 33%,
    #ff0000 67%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent; */

/* Typing effect */
/* This code is for the text container i.e the div containing the p,h1 or span div */
/* width: 100%;
  padding: 20rem 4.75rem 0;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  border-right: 0;
  white-space: nowrap;
  overflow: hidden; */
